.item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  border: 1px solid black;
  padding: 5px;

  .image-container {
    display: flex;
    .itemImage {
      object-fit: contain;
      width: 100px;
      height: 100px;
    }
  }

  .details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .release-date {
      display: flex;
      justify-content: flex-start;
    }

    .overview {
      display: flex;
      justify-content: flex-start;
      text-align: left;
    }
  }
}