.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #f1f1f1;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px 10px;
}

.header a {
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}